
<!DOCTYPE html>
    <html>
<head>
  <meta charset="UTF-8">
  <title>Contacto</title>
  <link rel="stylesheet" type="text/css" href="styleinicio.css">
</head>
  <header>
    <div class="logo">
      <img src="imagenes/logokeyserv.png" alt="Logo de mi web" >
    </div>
    <nav>
      <ul class="menu">
        <li><a href="paginicio.html">Inicio</a></li>
        <li><a href="">Acerca de nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="sesion.html">Inicio sesión</a></li>
        <li><a href="registroinicio.html">Registrarse</a></li>
      </ul>
    </nav>
  </header>
        
        
        ---------------
        
        
        
        
<link rel="stylesheet" href="css/contacto.css">
 <section class="contact-section">
  <h2 class="section-title">Contacto</h2>
  <div class="contact-info">
    <p class="contact-label">Ingeniero Soporte:</p>
    <p class="contact-value">Felipe Salinas</p>
    <p class="contact-label">Teléfono:</p>
    <p class="contact-value">+56955162348</p>
    <p class="contact-label">Correo Empresa:</p>
    <p class="contact-value">keyserv@gmail.com</p>
  </div>
</section>