
<!DOCTYPE html>
    <html>
<head>
  <meta charset="UTF-8">
  <title>Contacto</title>
  <link rel="stylesheet" type="text/css" href="styleinicio.css">
</head>
  <header>
    <div class="logo">
      <img src="imagenes/logokeyserv.png" alt="Logo de mi web" >
    </div>
    <nav>
      <ul class="menu">
        <li><a href="paginicio.html">Inicio</a></li>
        <li><a href="">Acerca de nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="sesion.html">Inicio sesión</a></li>
        <li><a href="registroinicio.html">Registrarse</a></li>
      </ul>
    </nav>
  </header>
        
        
        ---------------
        
        
        
        
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reservas y Solicitudes</title>
  <link rel="stylesheet" href="css/reservas.css">
</head>
<body>
  <div class="reservation">
    <h2>Reserva o Solicitud</h2>

    <div class="service-selection">
      <h3>Selección de Servicio</h3>
      <select name="service" id="service">
        <option value="service1">Servicio 1</option>
        <option value="service2">Servicio 2</option>
        <option value="service3">Servicio 3</option>
      </select>
    </div>

    <div class="date-time-selection">
      <h3>Fecha y Hora</h3>
      <input type="date" id="date" name="date">
      <input type="time" id="time" name="time">
    </div>

    

    <div class="confirmation">
      <h3>Confirmación</h3>
      <p>Servicio: Servicio 1</p>
      <p>Fecha: 01/01/2023</p>
      <p>Hora: 10:00 AM</p>
      <p>Total a Pagar: $50</p>
    </div>

    <div class="history">
      <h3>Historial de Reservas o Solicitudes</h3>
      <ul>
        <li>Reserva 1 - Servicio 1 - Fecha: 01/01/2023</li>
        <li>Reserva 2 - Servicio 2 - Fecha: 02/01/2023</li>
        <li>Reserva 3 - Servicio 3 - Fecha: 03/01/2023</li>
      </ul>
    </div>
  </div>
</body>
</html>
