{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/styleregistro.css' %}">
  <title>Formulario Registro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
        $("#id_region").change(function () {
          var url = "{% url 'KeyServApp:ajax_load_comunas' %}"; 
            var regionId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region_id': regionId
                },
                success: function (data) {
                    var options = '<option selected disabled>Seleccione su Comuna</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].nombre_comuna + '</option>';
                    }
                    $("#id_comuna").html(options);
                }
            });
        });
    });
  </script>
</head>
<body>
  <section class="form-register">
    <form action="{% url 'KeyServApp:registro' %}" method="post" id="usuarioForm" data-comunas-url="{% url 'KeyServApp:ajax_load_comunas' %}">
      {% csrf_token %}
      <!-- El resto de tu formulario -->
      <h1>Formulario Registro</h1><br>
      <input class="controls" type="text" name="rut" id="rut" placeholder="Ingrese su Rut" required>
      <input class="controls" type="text" name="nombre1" id="nombre1" placeholder="Ingrese su primer nombre" required>
      <input class="controls" type="text" name="nombre2" id="nombre2" placeholder="Ingrese su segundo nombre" required>
      <input class="controls" type="text" name="apellido1" id="apellido1" placeholder="Ingrese su primer apellido" required><br>
      <input class="controls" type="text" name="apellido2" id="apellido2" placeholder="Ingrese su segundo apellido" required>
      <input class="controls" type="number" name="edad" id="edad" placeholder="Ingrese su Edad" required>
      <input class="controls" type="number" name="telefono" id="telefono" placeholder="Ingrese su Numero Celular" required><br>
      <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su email" required>
      
      <!-- Para los selectores, REGION -->
      <select name="region">
        {% for region in regions %}
            <option value="{{ region.id }}">{{ region.name }}</option>
        {% endfor %}
      </select>
      <!-- Para los selectores, REGION
      <select class="controls" name="region" id="id_region" required>
        <option selected disabled>Seleccione su Region</option>
        {% for region in regiones %}
        <option value="{{ region.id }}">{{ region.nombre }}</option>
        {% endfor %}
      </select>
       -->
       
      <!-- Para los selectores, COMUNA -->
      <select class="controls" name="comuna" id="id_comuna" required>
        <option selected disabled>Seleccione su Comuna</option>
      </select>
      
      <!-- El resto de tu formulario -->
      <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion completa" required><br>
      
       <!-- Para los selectores, TIPO_CUENTA -->
       <select class="controls" name="tipo_cuenta" id="tipo_cuenta" required>
        <option selected disabled>Seleccione el tipo de cuenta</option>
        {% for tipo in tipos_cuenta %}
        <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
        {% endfor %}
      </select>
      
      <!-- El resto de tu formulario -->
      <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
      <input class="controls" type="password" name="password_confirm" id="password_confirm" placeholder="Vuelva a ingresar su contraseña" required><br>
      <a href="huella.html">Registrar Huella</a><br><br>
      
      <p1>Estoy de acuerdo con <a href="preferencias%20de%20la%20cuenta.html">Terminos y Condiciones</a></p1>
      
      <input class="botons" type="submit" value="Registrar">
    </form>
  </section>
</body>
</html>