.contact-section {
  background-color: #202020;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-info {
  margin-top: 20px;
}

.contact-label {
  font-size: 18px;
  color: #9c9c9c;
}

.contact-value {
  font-size: 20px;
  margin-bottom: 10px;
}