<meta charset="UTF-8">
  <title>Título de tu página</title>
  <link rel="stylesheet" href="css/preferencias.css">
<header>
  <div class="logo">
    <img src="ruta_del_logo.png" alt="Logo">
  </div>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>

<section class="account-section">
  <h2 class="section-title">Configuración de cuenta</h2>
  <div class="account-options">
    <div class="option-group">
      <h3 class="option-title">Configuración de privacidad y preferencias de notificación</h3>
      <div class="checkbox-option">
        <input type="checkbox" id="privacy-checkbox" name="privacy-checkbox">
        <label for="privacy-checkbox">Permitir compartir información de perfil</label>
      </div>
      <div class="checkbox-option">
        <input type="checkbox" id="notification-checkbox" name="notification-checkbox">
        <label for="notification-checkbox">Recibir notificaciones por correo electrónico</label>
      </div>
    </div>
    
    <div class="option-group">
      <h3 class="option-title">Opciones de seguridad</h3>
      <div class="checkbox-option">
        <input type="checkbox" id="password-change-checkbox" name="password-change-checkbox">
        <label for="password-change-checkbox">Permitir cambio de contraseña</label>
      </div>
      <!-- Agrega más opciones de configuración según sea necesario -->
    </div>
    
    <div class="button-group">
      <button class="save-button">Guardar cambios</button>
      <button class="discard-button">Descartar</button>
    </div>
  </div>
</section>



