/* Estilos para el encabezado */
header {
  background-color: powderblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo img {
  width: 200px;
  height: 110px;
}

/* Estilos para la barra de navegación */
nav {
  font-family: Arial, sans-serif;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.menu li a:hover {
  color: #555;
}
/* Estilos para el formulario de búsqueda */
#busqueda {
  text-align: left;
  padding: 30px 0;
  background-color: #f2f9fc;
}

.busqueda-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.busqueda-titulo {
  margin-right: 10px;
  color: #333;
}

.busqueda-input {
  display: flex;
  align-items: center;
}

#busqueda-input input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

#buscar-btn {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para la sección de usuarios */
#usuarios {
  text-align: center;
  padding: 30px 0;
}

.usuario {
  margin-bottom: 40px;
  background-color: #e3f0f7;
  padding: 20px;
  display: inline-block;
}

.usuario img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.usuario p {
  margin: 0;
}

/* Animaciones */
.usuario img {
  transition: transform 0.3s ease-in-out;
}

.usuario:hover img {
  transform: scale(1.1);
}
.search-container {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  padding: 10px;
  z-index: 1;
}

.filter-dropdown label, .filter-dropdown select {
  display: block;
  margin-bottom: 10px;
}

.filter-dropdown select {
  width: 100%;
  padding: 5px;
}

.search-btn {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

}
